@font-face {
    font-family: 'chavaregular';
    src: url('../src/fonts/chava-webfont.eot');
    src: url('../src/fonts/chava-webfont.eot?#iefix') format('embedded-opentype'),
         url('../src/fonts/chava-webfont.woff2') format('woff2'),
         url('../src/fonts/chava-webfont.woff') format('woff'),
         url('../src/fonts/chava-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_code_proregular';
    src: url('../src/fonts/sourcecodepro-webfont.eot');
    src: url('../src/fonts/sourcecodepro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../src/fonts/sourcecodepro-webfont.woff2') format('woff2'),
         url('../src/fonts/sourcecodepro-webfont.woff') format('woff'),
         url('../src/fonts/sourcecodepro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}